@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bu kısım çok önemli, sayfanın tam ekran olmasını sağlar */
html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
